

/* Split the screen in half */
.split {
  margin-left: 200px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
}

/* Control the left side */
.left {
 left: 0;
 width:30%;
 height: 50%;
}

/* Control the right side */
.right {
  right: 0;
  width:60%;
  background-color: rgb(198, 214, 230);
}


.input-coding{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  Height:550px;
}





